.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: grey;
    padding: 5%;
    gap: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.rest {
    display: flex;
    justify-content: center; 
    align-items: center;         
    margin: 0; 
    flex-direction: column;
}
.button {
    background-color: lightgrey;
    gap: 300px;
display: flex;
    justify-content: cente;
}